[Unit]
Description=ACM Service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/env acm-poll
SyslogIdentifier=acm-poll

[Install]
WantedBy=basic.target

